@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using PED.ViewModels.ProviderEntrollment;
@model ProviderEntrollment
@{
    string isAdmin = string.Empty;
    var RolePermission = HttpContextAccessor.HttpContext.Session.Get<string>("SessionRoleAccess");
    if (RolePermission == "R")
    {
        isAdmin = "hide";
    }
}

<form id="PECredentialingLicenseListfrm" method="post" class="form-horizontal">

    <div class="row col-12 p-10" id="PECredentialingLicense">

        <div class="col-lg-12">
            <div class="form-group" style="margin-bottom: 5px !important;">
                <div class="col-sm-12 col-md-12 col-lg-12 p-0">
                    <table id="tblPECredentialingLicenseList" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>License Type</th>
                                <th>Certification Level</th>
                                <th>License #</th>
                                <th>Issued Date</th>
                                <th>Effective Date</th>
                                <th>Expiry Date</th>
                                <th class="@isAdmin">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{int i = 0;
                                foreach (var item in Model.PECredentialingLicenseList)
                                {
                                    i++;
                                    <tr id="@item.Id">
                                        @*<td id="tdSno" class="tr1">@i</td>*@
                                        <td class="tr1">@item.LicenseType</td>
                                        <td class="tr1">@item.CertificationLevel</td>
                                        <td class="tr1">@item.LicenseNo</td>
                                        <td class="tr1">@item.IssuedDate</td>
                                        <td class="tr1">@item.EffectiveDate</td>
                                        <td class="tr1">@item.ExpiryDate</td>
                                        <td class="tr1">
                                            <button id="btnPECredentialingLicenseEdit" type="button" Onclick="EditPECredentialingLicense('@item.Id')" title="Edit" class="fa fa-lg fa-edit  text-inverse form-control1 p-l-0 p-r-0 @isAdmin" style="border:none; background-color:transparent"></button>
                                            <button id="btnPECredentialingLicenseDelete" type="button" Onclick="ConfirmPECredentialingLicenseDelete('@item.Id')" title="Delete" class="fa fa-lg fa-trash-o  text-inverse form-control1 p-l-0 p-r-0 @isAdmin" style="border:none; background-color:transparent"></button>

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>