@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using PED.ViewModels.ProviderEntrollment;
@model ProviderEntrollment
@{
    string isAdmin = string.Empty;
    var RolePermission = HttpContextAccessor.HttpContext.Session.Get<string>("SessionRoleAccess");
    if (RolePermission == "R")
    {
        isAdmin = "hide";
    }
}

<form id="PECredentialingLicenseForm" method="post" class="form-horizontal">

    <div class="row col-12 p-10" id="PEContactsForm">
        <div class="col-lg-12">
            <div class="form-group" style="margin-bottom: 5px !important;">
                <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                    <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="LicenseType">License Type<span style="color:red">*</span></label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                    <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="CertificationLevel">Certification Level<span style="color:red">*</span></label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                    <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="LicenseNo">License #<span style="color:red">*</span></label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                    <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="IssuedDate">Issued Date<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group" style="margin-bottom: 5px !important;">
                <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                    <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls" data-parsley-validate="true">
                        @Html.HiddenFor(m => m.PECredentialingLicense.Id)
                        @Html.DropDownListFor(m => m.PECredentialingLicense.LicenseTypeID, new SelectList(Model.PELicenseTypeList, "Id", "Value"), "Select License Type", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                    <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls" data-parsley-validate="true">
                        @Html.DropDownListFor(m => m.PECredentialingLicense.CertificationLevelID, new SelectList(Model.PECertificationLevelList, "Id", "Value"), "Select Certification Level", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                    <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls" data-parsley-validate="true">
                        @Html.TextBoxFor(m => m.PECredentialingLicense.LicenseNo, new { @class = "form-control", @placeholder = "Enter License #", data_parsley_type = "digits" })
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                    <div class="col-md-11 col-sm-11 col-lg-11 controls input-daterange datepicker-autoClose input-group" data-parsley-validate="true">
                        @Html.TextBoxFor(m => m.PECredentialingLicense.IssuedDate, new { @class = "form-control DateMask datepicker-autoClose", @placeholder = "Enter Issued Date" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group" style="margin-bottom: 5px !important;">
                <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                    <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="EffectiveDate">Effective Date<span style="color:red">*</span></label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                    <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="ExpiryDate">Expiry Date<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group" style="margin-bottom: 5px !important;">

                <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                    <div class="col-md-11 col-sm-11 col-lg-11 controls input-daterange datepicker-autoClose input-group" data-parsley-validate="true">
                        @Html.TextBoxFor(m => m.PECredentialingLicense.EffectiveDate, new { @class = "form-control DateMask datepicker-autoClose", @placeholder = "Enter Effective Date" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                    <div class="col-md-11 col-sm-11 col-lg-11 controls input-daterange datepicker-autoClose input-group" data-parsley-validate="true">
                        @Html.TextBoxFor(m => m.PECredentialingLicense.ExpiryDate, new { @class = "form-control DateMask datepicker-autoClose", @placeholder = "Enter Expiry Date" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1 p-0">
                    <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                        <input type="button" id="btnPECredentialingLicenseInsert" class="btn btn-sm btn-success m-r-5" value="Add" />
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>