@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using PED.ViewModels.ProviderEntrollment;
@model ProviderEntrollment
@{
    string isAdmin = string.Empty;
    var RolePermission = HttpContextAccessor.HttpContext.Session.Get<string>("SessionRoleAccess");
    if (RolePermission == "R")
    {
        isAdmin = "hide";
    }
}

<form id="PEClientsBankInfoListfrm" method="post" class="form-horizontal">
    <div class="panel-heading" style="background-color: #009591">
        <h6 class="panel-title" id="changeteam" style="color: white;">
            Client's Bank Info List
        </h6>
    </div>
    <div class="row col-12 p-10" id="PEClientsBankInfo">
        <div class="col-lg-12">
            <div class="form-group" style="margin-bottom: 5px !important;">
                <div class="col-sm-12 col-md-12 col-lg-12 p-0">

                    <table id="tblPEClientsBankInfoList" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                
                                <th>Bank Name</th>
                                <th>Account Type</th>
                                <th>Bank Category</th>
                                <th>Effective Date</th>
                                <th>End Date</th>
                                <th>Address Line 1</th>
                                <th>Address Line 2</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Routing#</th>
                                <th>Account#</th>
                                <th class="@isAdmin">Action</th>
                            </tr>

                        </thead>
                      
                        <tbody>
                             @if (Model?.PEClientsBankInfoList != null && Model.PEClientsBankInfoList.Any())
                            { 
                              int i = 0; // declare variable here directly
                                foreach (var item in Model.PEClientsBankInfoList)
                                {
                                    i++;
                                    <tr id="@item.Id">
                                        @* <td class="tr1">@item.CompanyName</td> *@
                                        <td class="tr1">@item.BankName</td>
                                        <td class="tr1">@item.AccountType</td>
                                        <td class="tr1">@item.BankCategory</td>                                     
                                        <td class="tr1">@item.EffectiveDate?.ToString("MM/dd/yyyy").Replace("-", "/")</td>
                                        <td class="tr1">@item.EndDate?.ToString("MM/dd/yyyy").Replace("-", "/")</td>
                                        <td class="tr1">@item.AddressLine1</td>
                                        <td class="tr1">@item.AddressLine2</td>
                                        <td class="tr1">@item.City</td>
                                        <td class="tr1">@item.State</td>
                                        <td class="tr1">@item.ZipCode</td>
                                        <td class="tr1">@item.RoutingNumber</td>
                                        <td class="tr1">@item.AccountNumber</td>
                                        <td class="tr1 @isAdmin">
                                            <button id="btnClientBankInfoEdit" type="button" onclick="EditPEClientsBankInfo('@item.Id','Edit')" title="Edit" class="fa fa-lg fa-edit text-inverse form-control1 p-l-0 p-r-0"
                                                    style="border:none; background-color:transparent">
                                            </button>

                                            <button type="button" id="btnClientBankInfoDelete"
                                                    onclick="ConfirmPEClientsBankInfoDelete('@item.Id')"
                                                    title="Delete"
                                                    class="fa fa-lg fa-trash-o text-inverse form-control1 p-l-0 p-r-0"
                                                    style="border:none; background-color:transparent">
                                            </button>
                                        </td>
                                    </tr>
                                }
                                
                             }
                            else
                            {
                                <tr>
                                    <td colspan="14" class="text-center">No Records Found</td>
                                </tr>
                            } 
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</form>