@using PED.ViewModels.ProviderEntrollment;
@model ProviderEntrollment
<div class="modal fade" id="PECheckListEmailForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <button class="btn btn-xs btn-icon btn-circle btn-default" id="chkEmailFormclose"><i class="fa fa-close"></i></button>
                    </div>
                    <h4 class="panel-title" id="sendEmailTitle">Send Email</h4>
                </div>
                <form id="sendChkEmailFrm" method="post" class="form-horizontal" data-parsley-validate="true">
                   
                    <div class="panel-body panel-form p-t-15 m-t-10">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label class="control-label col-md-4 col-sm-4" for="Comments">Mail Subject<span style="color:red">*</span></label>
                            <div class="col-md-6 col-sm-6 col-lg-6 controls" data-parsley-validate="true">
                                @Html.TextBox("PECheckListMailSubject", null, new { @class = "form-control", @placeholder = "Enter Mail Subject", data_parsley_required = "true", @id = "PECheckListMailSubject" })
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label class="control-label col-md-4 col-sm-4" for="Comments">Mail Body<span style="color:red">*</span></label>
                            <div class="col-md-8 col-sm-8 col-lg-8 controls" data-parsley-validate="true">
                                @Html.TextArea("PECheckListMailBody", null, new { @rows = "10", @cols = "20", @class = "form-control", @placeholder = "Enter Mail Body", data_parsley_required = "true", @id = "PECheckListMailBody" })
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label class="control-label col-md-4 col-sm-4" for="Comments">To</label>
                            <div class="col-md-6 col-sm-6 col-lg-6 controls" data-parsley-validate="true">
                                @Html.TextBox("PECheckListAutoMailTo", null, new { @class = "form-control", @placeholder = "Select Mail To", @id = "PECheckListAutoMailTo" })
                                <label id="lblMailTo">OR</label>
                                @Html.TextBox("PECheckListMailTo", null, new { @class = "form-control", @placeholder = "Enter Mail To", @id = "PECheckListMailTo" })
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label class="control-label col-md-4 col-sm-4" for="Comments">CC</label>
                            <div class="col-md-6 col-sm-6 col-lg-6 controls">
                                @Html.TextBox("PECheckListMailCC", null, new { @class = "form-control", @placeholder = "Enter Mail ID", @id = "PECheckListMailCC" })
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label class="control-label col-md-4 col-sm-4" for="Attachements">Attachements</label>
                            <div class="col-md-6 col-sm-6 col-lg-6 controls">
                                <div id="PECheckListdropZone" ondrop="PECheckListHandleDrop(event)" ondragover="PECheckListHandleDragOver(event)"                                     
                                     data-parsley-validate="true" class="dropZone">
                                    <p>Drag and drop a PDF file here</p>
                                </div>
                               
                                <input type="hidden" id="PECheckListFileInput" accept="application/pdf" />    @* Changed by Mohamed Iqbal *@
                                <input type="hidden" id="UploadedPEFilePath" name="UploadedPEFilePath" />
                                <span style="color: #e5603b; font-size: 12px !important;" id="spanPECheckListFileErrorMessage"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 text-center">
                            <input type="button" id="btnChkSendMail" class="btn btn-sm btn-primary m-r-5" value="Send Mail" />
                            <input type="button" id="btnChkCancelMail" class="btn btn-sm btn-default m-r-5" value="Cancel" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
