@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using PED.ViewModels.ProviderEntrollment;
@model ProviderEntrollment
@{
    string isAdmin = string.Empty;
    var RolePermission = HttpContextAccessor.HttpContext.Session.Get<string>("SessionRoleAccess");
    var RoleId = HttpContextAccessor.HttpContext.Session.Get<string>("SessionRoleID");
    var isEnabled = "";

    if (RolePermission == "R")
    {
        isAdmin = "hide";
        isEnabled = "disabled";
    }
}
<form id="PEPaymentCategoryChangeCheckList" class="form-horizontal">
    <div class="col-lg-12">
        <div class="form-group" style="margin-bottom: 5px !important;">
            <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Status">Name of Checklist Status</label>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Status">Status</label>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Allocated To">Allocated To</label>
            </div>
            @* <div class="col-sm-3 col-md-3 col-lg-3 p-0">
            <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Action">Action</label>
            </div> *@
        </div>
    </div>    
    <div class="col-lg-12">
        <div class="form-group" style="margin-bottom: 5px !important;">
            <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Status">ESO - Address and Payment Category Update</label>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCESOAddressAndPaymentCategoryUpdate" class="form-control clsPCCESOAddressAndPaymentCategoryUpdate" @isEnabled>
                        <option value="Not Started">Not Started</option>
                        <option value="Completed">Completed</option>
                        <option value="NA">NA</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.ESOAddressAndPaymentCategoryUpdate)
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCESOAddressAndPaymentCategoryUpdateAllocatedTo" class="form-control clsPCCESOAddressAndPaymentCategoryUpdateAllocatedTo" @isEnabled>
                        <option value="Select">Select</option>
                        <option value="AmyKing">AmyKing</option>
                        <option value="BillyWhite">Billy White</option>
                        <option value="PamelaRoysdon">Pamela Roysdon</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.ESOAddressAndPaymentCategoryUpdateAllocatedTo)
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group" style="margin-bottom: 5px !important;">
            <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Status">PED - Address Update</label>
            </div>
             <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCPEDAddressUpdate" class="form-control clsPCCPEDAddressUpdate" @isEnabled>
                        <option value="Not Started">Not Started</option>
                        <option value="Completed">Completed</option>
                        <option value="NA">NA</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.PEDAddressUpdate)
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCPEDAddressUpdateAllocatedTo" class="form-control clsPCCPEDAddressUpdateAllocatedTo" @isEnabled>
                        <option value="Select">Select</option>
                        <option value="AmyKing">AmyKing</option>
                        <option value="BillyWhite">Billy White</option>
                        <option value="PamelaRoysdon">Pamela Roysdon</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.PEDAddressUpdateAllocatedTo)
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
            <div class="form-group" style="margin-bottom: 5px !important;">
            <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Name">Notify Payment team to start Address Change</label>
            </div>
             <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCNotifyPaymentTeamToStartAddressChange" class="form-control clsPCCNotifyPaymentTeamToStartAddressChange" @isEnabled>
                        <option value="Not Started">Not Started</option>
                        <option value="Completed">Completed</option>
                        <option value="NA">NA</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.NotifyPaymentTeamToStartAddressChange)
                </div>                
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCNotifyPaymentTeamToStartAddressChangeAllocatedTo" class="form-control clsPCCNotifyPaymentTeamToStartAddressChangeAllocatedTo" @isEnabled>
                        <option value="Select">Select</option>
                        <option value="AmyKing">AmyKing</option>
                        <option value="BillyWhite">Billy White</option>
                        <option value="PamelaRoysdon">Pamela Roysdon</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.NotifyPaymentTeamToStartAddressChangeAllocatedTo)
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
                <div class="form-group" style="margin-bottom: 5px !important;">
                    <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Name">Medicare - Change of information application</label>
                    </div>
            <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCMedicareChangeOfInformationApplication" class="form-control clsPCCMedicareChangeOfInformationApplication" @isEnabled>
                        <option value="Not Started">Not Started</option>
                        <option value="Request from Client">Request from Client</option>
                        <option value="Waiting on Client">Waiting on Client</option>
                        <option value="Pending">Pending</option>
                        <option value="Approved">Approved</option>
                        <option value="NA">NA</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.MedicareChangeOfInformationApplication)
                </div>
            </div>
                    <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                        <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                            <select id="ddlPCCMedicareChangeOfInformationApplicationAllocatedTo" class="form-control clsPCCMedicareChangeOfInformationApplicationAllocatedTo" @isEnabled>
                        <option value="Select">Select</option>
                                <option value="AmyKing">AmyKing</option>
                                <option value="BillyWhite">Billy White</option>
                                <option value="PamelaRoysdon">Pamela Roysdon</option>
                            </select>
                            @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.MedicareChangeOfInformationApplicationAllocatedTo)
                        </div>
                    </div>
         </div>
    </div> 
    <div class="col-lg-12">
        <div class="form-group" style="margin-bottom: 5px !important;">
           @*  <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Status">Medicaid - Maintenance Application</label>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Status">Railroad Medicare - Fax request with W9</label>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="InternalID">Availity</label>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Name">Update Commerical EFTs</label>
            </div> *@
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group" style="margin-bottom: 5px !important;">
            <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Status">Medicaid - Maintenance Application</label>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCMedicaidMaintenanceApplication" class="form-control clsPCCMedicaidMaintenanceApplication" @isEnabled>
                        <option value="Not Started">Not Started</option>
                        <option value="Submitted">Submitted</option>
                        <option value="Completed">Completed</option>
                        <option value="NA">NA</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.MedicaidMaintenanceApplication)
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCMedicaidMaintenanceApplicationAllocatedTo" class="form-control clsPCCMedicaidMaintenanceApplicationAllocatedTo" @isEnabled>
                        <option value="Select">Select</option>
                        <option value="AmyKing">AmyKing</option>
                        <option value="BillyWhite">Billy White</option>
                        <option value="PamelaRoysdon">Pamela Roysdon</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.MedicaidMaintenanceApplicationAllocatedTo)
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group" style="margin-bottom: 5px !important;">
            <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Status">Railroad Medicare - Fax request with W9</label>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCRailroadMedicareFaxRequestWithW9" class="form-control clsPCCRailroadMedicareFaxRequestWithW9" @isEnabled>
                        <option value="Waiting for Medicare approval">Waiting for Medicare approval</option>
                        <option value="Faxed">Faxed</option>
                        <option value="NA">NA</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.RailroadMedicareFaxRequestWithW9)
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCRailroadMedicareFaxRequestWithW9AllocatedTo" class="form-control clsPCCRailroadMedicareFaxRequestWithW9AllocatedTo" @isEnabled>
                        <option value="Select">Select</option>
                        <option value="AmyKing">AmyKing</option>
                        <option value="BillyWhite">Billy White</option>
                        <option value="PamelaRoysdon">Pamela Roysdon</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.RailroadMedicareFaxRequestWithW9AllocatedTo)
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group" style="margin-bottom: 5px !important;">
            <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="InternalID">Availity</label>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCAvaility" class="form-control clsPCCAvaility" @isEnabled>
                        <option value="Not Started">Not Started</option>
                        <option value="Completed">Completed</option>
                        <option value="NA">NA</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.Availity)
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCAvailityAllocatedTo" class="form-control clsPCCAvailityAllocatedTo" @isEnabled>
                        <option value="Select">Select</option>
                        <option value="AmyKing">AmyKing</option>
                        <option value="BillyWhite">Billy White</option>
                        <option value="PamelaRoysdon">Pamela Roysdon</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.AvailityAllocatedTo)
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group" style="margin-bottom: 5px !important;">
            <div class="col-sm-3 col-md-3 col-lg-3 p-0">
                <label class="control-label col-md-11 col-sm-11" style="text-align:left !important;padding-left:2px !important" for="Name">Update Commerical EFTs</label>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCUpdateCommericalEFTs" class="form-control clsPCCUpdateCommericalEFTs" @isEnabled>
                        <option value="Not Started">Not Started</option>
                        <option value="Completed">Completed</option>
                        <option value="NA">NA</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.UpdateCommericalEFTs)
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 p-0">
                <div class="col-md-11 col-sm-11 col-lg-11 p-0 controls">
                    <select id="ddlPCCUpdateCommericalEFTsAllocatedTo" class="form-control clsPCCUpdateCommericalEFTsAllocatedTo" @isEnabled>
                        <option value="Select">Select</option>
                        <option value="AmyKing">AmyKing</option>
                        <option value="BillyWhite">Billy White</option>
                        <option value="PamelaRoysdon">Pamela Roysdon</option>
                    </select>
                    @Html.HiddenFor(m => m.PEPaymentCategoryChangeCheckList.UpdateCommericalEFTsAllocatedTo)
                </div>
            </div>
        </div>
    </div>
</form>