@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using PED.ViewModels.Admin;
@model Clients
@{
    string isAdmin = string.Empty;
    var RolePermission = HttpContextAccessor.HttpContext.Session.Get<string>("SessionRoleAccess");
    var RoleId = HttpContextAccessor.HttpContext.Session.Get<string>("SessionRoleID");

    if (RoleId == "30133577-ba4d-4d74-8c17-575c99f6cc01")//Provider Enrollment Full Access
    {
        isAdmin = "hide";
    }
    if (RolePermission == "R")
    {
        isAdmin = "hide";
    }
}
<div class="row panel-body">
    <div class="col-lg-10 m-10">
        <input type="hidden" id="hrfInsuranceContractReferenceId" value='@Model.InsuranceContractRefID' />
        @if (Model.ClientsInsuranceContractList.Count != 0)
        {
            <table id="tblClientEmployee" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Document Type</th>
                        <th>Insurance Name</th>
                        <th>Effective Date</th>
                        <th>Termed Date</th>
                        <th class="@isAdmin">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @{int i = 0;
                        foreach (var item in Model.ClientsInsuranceContractList)
                        {
                            i++;
                            <tr id="@item.ID">
                                <td id="txtDocumentType" class="tr1">@item.DocumentType</td>
                                <td id="txtInsuranceContractName" class="tr1">@item.InsuranceContractName</td>
                                <td id="txtEffectiveDate" class="tr1">@item.EffectiveDate</td>
                                <td id="txtTermedDate" class="tr1">@item.TermedDate</td>
                                <td class="tr1">
                                    <button id="btnEmployeeEdit" type="button" Onclick="ConfirmInsuranceContractEdit('@item.ID')" title="Edit" class="fa fa-lg fa-edit  text-inverse form-control1 p-l-0 p-r-0 @isAdmin" style="border:none; background-color:transparent"></button>
                                    <button id="btnEmployeeDelete" type="button" Onclick="ConfirmInsuranceContractDelete('@item.ID')" title="Delete" class="fa fa-lg fa-trash-o  text-inverse form-control1 p-l-0 p-r-0 @isAdmin" style="border:none; background-color:transparent"></button>
                                    @Html.ActionLink("", "ViewInsuranceContractFile", "Contract", new { fileName = item.FileName, insuranceContractId = item.ID, id = item.ID }, new { @target = "_blank", @class = "fa fa-eye text-inverse form-control1 p-l-0 p-r-0 m-5 text-decoration" })
                                </td>
                            </tr>
                        } }
                </tbody>
            </table>
        }
    </div>
</div>

