@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using PED.ViewModels.Admin
@model AddressType;

@{
    string isAdmin = string.Empty;
    var RolePermission = HttpContextAccessor.HttpContext.Session.Get<string>("SessionRoleAccess");
    if (RolePermission == "R")
    {
        isAdmin = "hide";
    }
}

@section Styles {
    <link href='@Url.Content("~/css/DataTables.css")' rel="stylesheet" />
    <link href='@Url.Content("~/plugins/parsley/src/parsley.css")' rel="stylesheet" />
    <link href='@Url.Content("~/plugins/bootstrap-sweetalert/sweetalert.css")' rel="stylesheet" />
}
<input type="hidden" id="hrfAddressType" value='@Url.Content("~/Admin/AddressType/")' />
<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="javascript:;">Admin</a></li>
        <li class="active">Address Type</li>
    </ol>
    <h1 class="page-header">Address Type<small></small></h1>
    <div id="alertsuccess" class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Success!</strong> Details saved.
    </div>
    <div id="alertinfo" class="alert alert-info alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Sorry!</strong> Address Type Exists.
    </div>
    <div id="divAddressTypeform">
        @{ Html.RenderPartial("_AddressTypeForm", Model); }
    </div>
    <div id="divAddressTypeList">
        @{ Html.RenderPartial("_AddressTypeList", Model); }

    </div>
</div>
@section Scripts
    {
    <script src='@Url.Content("~/js/DataTables.js")'></script>
    <script src='@Url.Content("~/plugins/parsley/dist/parsley.js")'></script>
    <script src='@Url.Content("~/js/CommonEvents.js")'></script>
    <script src='@Url.Content("~/plugins/bootstrap-sweetalert/sweetalert.min.js")'></script>
    <script src='@Url.Content("~/js/ApplicationError.js")'></script>
    <script type="text/javascript">
        $(document).ready(function () {
        LoadAddressTypeList();
        $('#alertsuccess').hide();
        $('#alertinfo').hide();
        InitEvents();
        CancelTeam();
    });
    function createAddressType()
    {
        var validationresult = $('#AddressTypeform').parsley().validate();
        if (validationresult) {
            var Getname = $('#@Html.IdFor(m => m.AddressTypeDet.Name)').val();
            var GetActiveStatus = ($('.ActiveStatus:checked').val());
            var activ;
            if (GetActiveStatus == 1)
                activ = 1;
            else
                activ = 0;
            var GetId = $('#@Html.IdFor(m => m.AddressTypeDet.Id)').val();
            GetId = (GetId == "" ? 0 : GetId);
            var AddressTypeDetails = JSON.stringify({
                Id: GetId,
                Name: Getname,
                Active: activ
                 //Status: GetActiveStatus
            });
           // console.log(AddressTypeDetails);
            var url = "@Url.Action("InsertAddressType", "Admin")";
            var jsonData = AddressTypeDetails;
            AjaxRequestJsonPostContent(url, jsonData, function (resp, status, req) {
                $('#divAddressTypeList').html(resp);
                $('.collapse').hide();
                $('#btnSubmit').val('Submit');
                $('#alertsuccess').show();
                $('#@Html.IdFor(m => m.AddressTypeDet.Id)').val('');
                setTimeout(function () {
                    $('#alertsuccess').hide();
                    $('#alertsuccess').removeClass('show');
                }, 2000);
                $('#Active').removeAttr('disabled');
                $('#InActive').removeAttr('disabled');
                $('#expandcollapse').find('i').removeClass('fa-minus').addClass('fa-plus');
                $('#AddressTypeform').parsley().destroy();
                ClearForm();
                LoadAddressTypeList();
            });
        }
    }

    function ClearForm()
    {
        $('#AddressTypeform').find('input:text').val('');
        $("textarea").val("");
        $('#AddressTypeform').find('input:radio').removeAttr('checked');
        $('#AddressTypeform').find('select').val(0);
       // $('#EmployeePositionDetails_Id').val('');
    }

    function EditAddressType(ID)
    {
        var url = "@Url.Action("EditAddressType", "Admin")";
        var jsonData = ID;
        AjaxRequestJsonPostContent(url, jsonData, function (resp, status, req) {
            $('#divAddressTypeform').html(resp);
            var hfdisable = $('#hfactiveDisable').val();
            if (hfdisable == 'disabled') {
                $('#Active').attr('disabled','disabled');
                $('#InActive').attr('disabled', 'disabled');
                $('#divActiveStatus').attr('title','Sorry Cannot be Edited');
            }
            else
            {
                $('#Active').removeAttr('disabled');
                $('#InActive').removeAttr('disabled');
            }
            CancelTeam();
            $('#btnSubmit').val('Update');
            $('#expandcollapse').find('i').removeClass('fa-plus').addClass('fa-minus');
            $('.collapse').collapse();
            $("#changeteam").html("Edit Address Type");
            ScrollToTop();
        });
    }

    $('#btnSubmit').live('click', function () {
        createAddressType();
        $("#changeteam").html("Add Address Type");
    });

    $('#@Html.IdFor(m => m.AddressTypeDet.Name)').on('blur', function () {
        var Value = $(this).val();
        if (Value != "") {
            $("#spanAddressTypest").hide();
            $.ajax({
                url: "@Url.Action("IsAddressTypeExist", "Admin")",
                type: "POST",
                data: { Name: Value },
                success: function (data) {
                SetSessionExpireTimer();
                if (data.message == "Failed") {
                    $("#spanAddressTypest").show();
                    $('#@Html.IdFor(m => m.AddressTypeDet.Name)').focus();
                }
                else {
                    $("#spanAddressTypest").hide();
                }
            },
            error: function (result) {
                console.log("Filed Ajax");
            }
        });
    }
});


        function LoadAddressTypeList() {
            $('#tblAddressTypeList').DataTable({
            searching: true,
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1]
            }]
        });
    }
    function CancelTeam(){
        $('#btnCancel').click(function (e) {
        swal({
            title: "Are you sure?",
            text: "Data in the page will be lost!",
            type: "info",
            showCancelButton: true,
            confirmButtonClass: 'btn-primary',
            confirmButtonText: 'Confirm'
        },
        function (isConfirm) {
            if (isConfirm) {
                location.href = $('#hrfAddressType').val();
            }
        });
    });
    }
    function ConfirmDelete(RID) {
        $("#alertsuccess").hide();
        $('#alertinfo').hide();
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this detail!",
            type: "error",
            showCancelButton: true,
            confirmButtonClass: 'btn-danger',
            confirmButtonText: 'Yes, delete it!'
        },
    function (isConfirm) {
        if (isConfirm) {
                var url = "@Url.Action("DeleteAddressType", "Admin")";
            var jsonData = { ID: RID };
                AjaxRequestJsonPost(url, jsonData, function (resp, status, req) {
                    if (resp.message == "Failed") {
                        $('#alertinfo').show();
                        setTimeout(function () {
                            $('#alertinfo').hide();
                            $('#alertinfo').removeClass('show');
                        }, 2000);
                        LoadAddressTypeList();
                    }
                    else
                    {
                        $('#alertinfo').hide();
                        $('#divAddressTypeList').html(resp);
                        ClearForm();
                        LoadAddressTypeList();
                    }
                });
            }
            else {
                return false;
            }
    });
};
    </script>
}


