@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using PED.ViewModels.Admin
@model AgreementType
@{
    string isAdmin = string.Empty;
    var RolePermission = HttpContextAccessor.HttpContext.Session.Get<string>("SessionRoleAccess");
    if (RolePermission == "R")
    {
        isAdmin = "hide";
    }
}
@section Styles {
    <link href='@Url.Content("~/css/DataTables.css")' rel="stylesheet" />
    <link href='@Url.Content("~/plugins/parsley/src/parsley.css")' rel="stylesheet" />
    <link href='@Url.Content("~/plugins/bootstrap-sweetalert/sweetalert.css")' rel="stylesheet" />
}
<input type="hidden" id="hrfAgreementType" value='@Url.Content("~/Admin/AgreementType/")' />
<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="javascript:;">Admin</a></li>
        <li class="active">Agreement Type</li>
    </ol>
    <h1 class="page-header">Agreement Type<small></small></h1>
    <div id="alertsuccess" class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Success!</strong> Details saved.
    </div>
    <div id="alertinfo" class="alert alert-info alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Sorry!</strong> Users are Mapped for the Agreement Type.
    </div>
    <div id="divAgreementTypeform">
        @{ Html.RenderPartial("_AgreementTypeForm", Model); }
    </div>
    <div id="divAgreementTypeList">
        @{ Html.RenderPartial("_AgreementTypeList", Model.AgreementTypeDetailsList); }

    </div>
</div>
@section Scripts
    {
    <script src='@Url.Content("~/js/DataTables.js")'></script>
    <script src='@Url.Content("~/plugins/parsley/dist/parsley.js")'></script>
    <script src='@Url.Content("~/js/CommonEvents.js")'></script>
    <script src='@Url.Content("~/plugins/bootstrap-sweetalert/sweetalert.min.js")'></script>
    <script src='@Url.Content("~/js/ApplicationError.js")'></script>
    <script type="text/javascript">
    $(document).ready(function () {
        LoadAgreementTypeList();
        $('#alertsuccess').hide();
        $('#alertinfo').hide();
        InitEvents();
        CancelTeam();
    });
    function createAgreementType()
    {
        var validationresult = $('#AgreementTypefrm').parsley().validate();
        if (validationresult) {
            var Getname = $('#@Html.IdFor(m => m.AgreementTypeDetails.Name)').val();
            var GetDecription = $('#@Html.IdFor(m => m.AgreementTypeDetails.Description)').val();
            var GetActiveStatus = ($('.ActiveStatus:checked').val());
            var activ;
            if (GetActiveStatus == 1)
                activ = 1;
            else
                activ = 0;
            var GetId = $('#@Html.IdFor(m => m.AgreementTypeDetails.Id)').val();
            GetId = (GetId == "" ? 0 : GetId);
            var AgreementTypeDetails = JSON.stringify({
                Id: GetId,
                Name: Getname,
                Description: GetDecription,
                Active: activ,
                Status:GetActiveStatus
            });
            var url = "@Url.Action("SaveAgreementType", "Admin")";
            var jsonData = AgreementTypeDetails;
            AjaxRequestJsonPostContent(url, jsonData, function (resp, status, req) {
                $('#divAgreementTypeList').html(resp);
                $('.collapse').hide();
                $('#btnAgreementTypeSubmit').val('Submit');
                $('#alertsuccess').show();
                setTimeout(function () {
                    $('#alertsuccess').hide();
                    $('#alertsuccess').removeClass('show');
                }, 2000);
                $('#Active').removeAttr('disabled');
                $('#InActive').removeAttr('disabled');
                $('#expandcollapse').find('i').removeClass('fa-minus').addClass('fa-plus');
                $('#AgreementTypefrm').parsley().destroy();
                ClearForm();
                LoadAgreementTypeList();
            });
        }
    }

    function ClearForm()
    {
        $('#AgreementTypefrm').find('input:text').val('');
        $("textarea").val("");
        $('#AgreementTypefrm').find('input:radio').removeAttr('checked');
        $('#AgreementTypefrm').find('select').val(0);
        $('#AgreementTypeDetails_Id').val('');
    }

    function EditAgreementType(AgreementTypeID)
    {
        var url = "@Url.Action("EditAgreementType", "Admin")";
        var jsonData = AgreementTypeID;
        AjaxRequestJsonPostContent(url, jsonData, function (resp, status, req) {
            $('#divAgreementTypeform').html(resp);
            var hfdisable = $('#hfactiveDisable').val();
            if (hfdisable == 'disabled') {
                $('#Active').attr('disabled','disabled');
                $('#InActive').attr('disabled', 'disabled');
                $('#divActiveStatus').attr('title','Sorry Cannot be Edited');
            }
            else
            {
                $('#Active').removeAttr('disabled');
                $('#InActive').removeAttr('disabled');
            }
            CancelTeam();
            $('#btnAgreementTypeSubmit').val('Update');
            $('#expandcollapse').find('i').removeClass('fa-plus').addClass('fa-minus');
            $('.collapse').collapse();
            $("#changeteam").html("Edit Agreement Type");

        });
    }

        $('#btnAgreementTypeSubmit').live('click', function () {
            createAgreementType();
            $("#changeteam").html("Add Agreement Type");
    });

        function LoadAgreementTypeList() {
        $('#tblAgreementType').DataTable({
            searching: true,
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1]
            }]
        });
    }
function CancelTeam(){
    $('#btnCancel').click(function (e) {
    swal({
        title: "Are you sure?",
        text: "Data in the page will be lost!",
        type: "info",
        showCancelButton: true,
        confirmButtonClass: 'btn-primary',
        confirmButtonText: 'Confirm'
    },
        function (isConfirm) {
            if (isConfirm) {
                location.href = $('#hrfAgreementType').val();
            }
        });
});
}
function ConfirmDelete(RID) {
    $("#alertsuccess").hide();
    $('#alertinfo').hide();
    swal({
        title: "Are you sure?",
        text: "You will not be able to recover this detail!",
        type: "error",
        showCancelButton: true,
        confirmButtonClass: 'btn-danger',
        confirmButtonText: 'Yes, delete it!'
    },
    function (isConfirm) {
        if (isConfirm) {
                var url = "@Url.Action("DeleteAgreementType", "Admin")";
            var jsonData = { AgreementTypeID: RID };
                AjaxRequestJsonPost(url, jsonData, function (resp, status, req) {
                    if (resp.message == "Failed") {
                        $('#alertinfo').show();
                        setTimeout(function () {
                            $('#alertinfo').hide();
                            $('#alertinfo').removeClass('show');
                        }, 2000);
                        LoadAgreementTypeList();
                    }
                    else
                    {
                        $('#alertinfo').hide();
                        $('#divResourceList').html(resp);
                        ClearForm();
                        LoadAgreementTypeList();
                    }
                });
            }
            else {
                return false;
            }
    });
};
    </script>
}
