@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using PED.ViewModels.Admin
@model InsuranceContract;

@{
    string isAdmin = string.Empty;
    var RolePermission = HttpContextAccessor.HttpContext.Session.Get<string>("SessionRoleAccess");
    if (RolePermission == "R")
    {
        isAdmin = "hide";
    }
}

@section Styles {
    <link href='@Url.Content("~/css/DataTables.css")' rel="stylesheet" />
    <link href='@Url.Content("~/plugins/parsley/src/parsley.css")' rel="stylesheet" />
    <link href='@Url.Content("~/plugins/bootstrap-sweetalert/sweetalert.css")' rel="stylesheet" />
}
<input type="hidden" id="hrfInsuranceContract" value='@Url.Content("~/Admin/InsuranceContract/")' />
<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="javascript:;">Admin</a></li>
        <li class="active">Insurance Contract</li>
    </ol>
    <h1 class="page-header">Insurance Contract<small></small></h1>
    <div id="alertsuccess" class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Success!</strong> Details saved.
    </div>
    <div id="alertinfo" class="alert alert-info alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Sorry!</strong> Insurance Contract Exists.
    </div>
    <div id="divContractform">
        @{ Html.RenderPartial("_InsuranceContractForm", Model); }
    </div>
    <div id="divContractList">
        @{ Html.RenderPartial("_InsuranceContractList", Model); }

    </div>
</div>
@section Scripts
    {
    <script src='@Url.Content("~/js/DataTables.js")'></script>
    <script src='@Url.Content("~/plugins/parsley/dist/parsley.js")'></script>
    <script src='@Url.Content("~/js/CommonEvents.js")'></script>
    <script src='@Url.Content("~/plugins/bootstrap-sweetalert/sweetalert.min.js")'></script>
    <script src='@Url.Content("~/js/ApplicationError.js")'></script>
    <script type="text/javascript">
        $(document).ready(function () {
        LoadContractList();
        $('#alertsuccess').hide();
        $('#alertinfo').hide();
        InitEvents();
        CancelTeam();
    });
    function createInsuranceContract()
    {
        var validationresult = $('#Contractform').parsley().validate();
        if (validationresult) {
            var Getname = $('#@Html.IdFor(m => m.InsuranceContractDet.Name)').val();
            var GetActiveStatus = ($('.ActiveStatus:checked').val());
            var activ;
            if (GetActiveStatus == 1)
                activ = 1;
            else
                activ = 0;
            var GetId = $('#@Html.IdFor(m => m.InsuranceContractDet.Id)').val();
            GetId = (GetId == "" ? 0 : GetId);
            var InsuranceContractDetails = JSON.stringify({
                Id: GetId,
                Name: Getname,
                Active: activ
                 //Status: GetActiveStatus
            });
           // console.log(ContractDetails);
            var url = "@Url.Action("InsertInsuranceContract", "Admin")";
            var jsonData = InsuranceContractDetails;
            AjaxRequestJsonPostContent(url, jsonData, function (resp, status, req) {
                $('#divContractList').html(resp);
                $('.collapse').hide();
                $('#btnSubmit').val('Submit');
                $('#alertsuccess').show();
                $('#@Html.IdFor(m => m.InsuranceContractDet.Id)').val('');
                setTimeout(function () {
                    $('#alertsuccess').hide();
                    $('#alertsuccess').removeClass('show');
                }, 2000);
                $('#Active').removeAttr('disabled');
                $('#InActive').removeAttr('disabled');
                $('#expandcollapse').find('i').removeClass('fa-minus').addClass('fa-plus');
                $('#Contractform').parsley().destroy();
                ClearForm();
                LoadContractList();
            });
        }
    }


    function ClearForm()
    {
        $('#Contractform').find('input:text').val('');
        $("textarea").val("");
        $('#Contractform').find('input:radio').removeAttr('checked');
        $('#Contractform').find('select').val(0);
       // $('#EmployeePositionDetails_Id').val('');
    }

    function EditInsuranceContract(ID)
    {
        var url = "@Url.Action("EditInsuranceContract", "Admin")";
        var jsonData = ID;
        AjaxRequestJsonPostContent(url, jsonData, function (resp, status, req) {
            $('#divContractform').html(resp);
            var hfdisable = $('#hfactiveDisable').val();
            if (hfdisable == 'disabled') {
                $('#Active').attr('disabled','disabled');
                $('#InActive').attr('disabled', 'disabled');
                $('#divActiveStatus').attr('title','Sorry Cannot be Edited');
            }
            else
            {
                $('#Active').removeAttr('disabled');
                $('#InActive').removeAttr('disabled');
            }
            CancelTeam();
            $('#btnSubmit').val('Update');
            $('#expandcollapse').find('i').removeClass('fa-plus').addClass('fa-minus');
            $('.collapse').collapse();
            $("#changeteam").html("Edit Insurance Contract");
            ScrollToTop();
        });
    }

        $('#btnSubmit').live('click', function () {
            createInsuranceContract();
            $("#changeteam").html("Add Insurance Contract");
    });
         $('#@Html.IdFor(m => m.InsuranceContractDet.Name)').on('blur', function () {
             var Value = $(this).val();
             if (Value != 0) {
                 $("#spanContractst").hide();
                 $.ajax({
                     url: "@Url.Action("IsInsuranceContractExist", "Admin")",
                     type: "POST",
                 data: { Name: Value },
                 success: function (data) {
                     SetSessionExpireTimer();
                     if (data.message == "Failed") {
                         $("#spanContractst").show();
                         $('#@Html.IdFor(m => m.InsuranceContractDet.Name)').focus();
                     }
                     else {
                         $("#spanContractst").hide();
                     }
                 },
                 error: function (result) {
                     console.log("Filed Ajax");
                 }
             });
         }
        });


        function LoadContractList() {
            $('#tblContractList').DataTable({
            searching: true,
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1]
            }]
        });
    }
    function CancelTeam(){
        $('#btnCancel').click(function (e) {
        swal({
            title: "Are you sure?",
            text: "Data in the page will be lost!",
            type: "info",
            showCancelButton: true,
            confirmButtonClass: 'btn-primary',
            confirmButtonText: 'Confirm'
        },
            function (isConfirm) {
                if (isConfirm) {
                    location.href = $('#hrfInsuranceContract').val();
                }
            });
    });
    }
    function ConfirmDelete(RID) {
        $("#alertsuccess").hide();
        $('#alertinfo').hide();
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this detail!",
            type: "error",
            showCancelButton: true,
            confirmButtonClass: 'btn-danger',
            confirmButtonText: 'Yes, delete it!'
        },
    function (isConfirm) {
        if (isConfirm) {
                var url = "@Url.Action("DeleteInsuranceContract", "Admin")";
            var jsonData = { ID: RID };
                AjaxRequestJsonPost(url, jsonData, function (resp, status, req) {
                    if (resp.message == "Failed") {
                        $('#alertinfo').show();
                        setTimeout(function () {
                            $('#alertinfo').hide();
                            $('#alertinfo').removeClass('show');
                        }, 2000);
                        LoadContractList();
                    }
                    else
                    {
                        $('#alertinfo').hide();
                        $('#divContractList').html(resp);
                        ClearForm();
                        LoadContractList();
                    }
                });
            }
            else {
                return false;
            }
    });
};
    </script>
}


