@using WiseX.Helpers
@model ChangePasswordViewModel
@{
    ViewBag.PageId = "Change Password";
}
@section Styles {
    <link href='@Url.Content("~/css/DataTables.css")' rel="stylesheet" />
    <link href='@Url.Content("~/plugins/parsley/src/parsley.css")' rel="stylesheet" />
    <link href='@Url.Content("~/plugins/bootstrap-sweetalert/sweetalert.css")' rel="stylesheet" />
    <link href='@Url.Content("~/plugins/bootstrap-sweetalert/sweetalert.css")' rel="stylesheet" />
    <link href='@Url.Content("~/plugins/password-indicator/css/password-indicator.css")' rel="stylesheet" />
}
<input type="hidden" id="hrfcancel" value='@Url.Content("~/Home")' />
@Html.HiddenFor(m => m.UserId);
@Html.HiddenFor(m => m.UserName);
<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="active">Change Password</li>
    </ol>
    <h1 class="page-header">&nbsp;<small></small></h1>
    <div id="alerterror" class="alert alert-danger fade in m-b-15">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Error!</strong>Your Newpassword and confirmation password do not match.
    </div>
    @*<div id="alertinfo" class="alert alert-info fade in m-b-15">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Info!</strong>Newpassword must contain at least six characters.       
    </div>*@
     <div class="row">
          <!-- begin col-6 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-default panel-inverse" data-sortable-id="form-validation-1">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning collapsed" id="expandcollapse" data-click="panel-collapse" data-original-title="" title="" data-init="true"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Change Password</h4>
                    </div>
                    <form id="ChangepasswordValidation" class="form-horizontal" data-parsley-validate="true">
                        @*@Html.AntiForgeryToken()*@
                        @Html.ValidationBootstrap()
                       <div class="panel-body panel-form" id="divPassword">
                                   <div class="row m-t-10">
                                       <div class="col-sm-12">
                                           <label class="control-label col-md-4 col-sm-4" for="Currentpassword">Current Password <span style="color:red">*</span></label>
                                           <div class="col-md-4 col-sm-4 controls ch p-b-5">
                                               @Html.TextBoxFor(m => m.Currentpassword, new { @class = "form-control", @placeholder = "Current Password", @required = "required", @type = "password" })
                                           </div>
                                       </div>
                                    </div>
                                   <div class="row m-t-10" id="formCheckPassword">
                                       <div class="col-sm-12">
                                            <label class="control-label col-md-4 col-sm-4" for="Newpassword">New Password <span style="color:red">*</span></label>
                                            <div class="col-md-4 col-sm-4 ch p-b-5">
                                                @*<input class="form-control" type="Password" id="txtnewpassword" name="Newpassword" placeholder="New Password" data-parsley-required="true" />*@
                                                @Html.TextBoxFor(m => m.Newpassword, new { @class = "form-control", @placeholder = "New Password", @required = "required", @type = "password", @data_toggle = "password", @data_placement = "after", data_parsley_length = "[6,12]" })
                                            </div>
                                        </div>
                                    </div>
                                   <div class="row m-t-10">
                                       <div class="col-sm-12">
                                            <label class="control-label col-md-4 col-sm-4" for="Confirmpassword">Confirm Password <span style="color:red">*</span></label>
                                            <div class="col-md-4 col-sm-4 controls ch p-b-5">
                                                @*<input class="form-control" type="password" id="txtconfirmpassword" name="Confirmpassword" placeholder="Confirm password" data-parsley-required="true" />*@
                                                @Html.TextBoxFor(m => m.Confirmpassword, new { @class = "form-control", @placeholder = "Confirm Password", data_parsley_equalto = "#Newpassword", @required = "required", @type = "password", data_parsley_length = "[6,12]" })
                                                <span class="text-danger" id="spanPassword" hidden>Password Not Matching</span>
                                            </div>
                                        </div>
                                    </div>
                                   <div class="row m-t-10">
                                        <div class="form-group col-sm-12 text-center">
                                            <button id="btnsubmit" type="button" class="btn btn-sm btn-primary m-r-5">Submit</button>
                                            <button id="btnReset" type="button" class="btn btn-sm btn-default">Cancel</button>
                                        </div>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
  
</div>

    @section Scripts
        {
        <script src='@Url.Content("~/plugins/bootstrap-sweetalert/sweetalert.min.js")'></script>
        <script src='@Url.Content("~/plugins/bootstrap-show-password/bootstrap-show-password.js")'></script>
        <script src='@Url.Content("~/plugins/parsley/dist/parsley.js")'></script>
        <script type="text/javascript">

            $(document).ready(function () {
                ChangePassword();
                $('#alerterror').hide();
                $('#alertinfo').hide();
                Cancel();
            });

            //Compare Newpassword and Confirmpassword
            function ChangePassword() {
                $("#btnsubmit").on('click', function () {
                    var validationresult = $('#ChangepasswordValidation').parsley().validate();
                    if (validationresult) {
                        var GetCurrentPassword = $('#@Html.IdFor(m => m.Currentpassword)').val();
                        var GetNewPassword = $('#@Html.IdFor(m => m.Newpassword)').val();
                        var GetConfirmPassword = $('#@Html.IdFor(m => m.Confirmpassword)').val();
                        var GetUserName = $('#@Html.IdFor(m => m.UserName)').val();
                        var GetUserId = $('#@Html.IdFor(m => m.UserId)').val();
                        var ChangePasswordViewModel = JSON.stringify({
                            UserName: GetUserName,
                            UserId: GetUserId,
                            CurrentPassword: GetCurrentPassword,
                            NewPassword: GetNewPassword,
                            Confirmpassword: GetConfirmPassword
                        });
                        var url = "@Url.Action("ChangePassword", "Account")";
                        var jsonData = ChangePasswordViewModel;
                        $.ajax({
                            cache: false,
                            type: 'POST',
                            url: url,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: jsonData,
                            success: function (resp, status, req) {
                                if (resp == "success") {
                                    $('#alerterror').show();
                                    $('#alerterror').html('Details saved.').toggleClass('alert-success alert-danger');
                                    $('#Currentpassword').val('');
                                    $('#Newpassword').val('');
                                    $('#Confirmpassword').val('');
                                    setTimeout(function () {
                                        $('#alerterror').hide();
                                        $('#alerterror').removeClass('show');
                                        location.href = "@Url.Action("Index","Home")";
                                    }, 2000);
                                }
                                else {
                                    if (resp == "1") {
                                        $('#alerterror').show();
                                        $('#alerterror').html('Invalid current password');
                                        $('#Currentpassword').val('');
                                        $('#Currentpassword').focus();
                                        setTimeout(function () {
                                            $('#alerterror').hide();
                                            $('#alerterror').removeClass('show');
                                        }, 2000);
                                    }
                                    else {
                                        $('#alerterror').html('Something went wrong');
                                        setTimeout(function () {
                                            $('#alerterror').hide();
                                            $('#alerterror').removeClass('show');
                                        }, 2000);
                                    }
                                }
                            },
                            error: function (req, status, error) {
                                CheckSessionTimeOut(req);
                            },
                            failure: function () {
                                alert("Error loading chart!");
                            }
                        });
                    }
                    });

            }
            function Cancel() {
                $('#btnReset').click(function (e) {
                    swal({
                        title: "Are you sure?",
                        text: "Data in the page will be lost!",
                        type: "info",
                        showCancelButton: true,
                        confirmButtonClass: 'btn-primary',
                        confirmButtonText: 'Confirm'

                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                location.href = $('#hrfcancel').val();
                            }
                            else {
                                return false;
                            }
                        });
                });
            }
        </script>
    }